mixin Hero 
  +Section.py-0.mt-lg-n8
    .row
      .col-md-9.col-lg-7
        h1.fs-5.fs-md-6.fs-xl-7.position-relative.zIndex-2 Fotogency 
          span.fw-thin.text-300 deals with first class 
          span.text-400 photography  orphan services.

  +Section.pt-0.pb-md-10.mt-md-n6.zIndex-n1
    .row
      img.d-none.d-lg-block.col-2.h-50.mt-auto(src=`${CWD}assets/img/home/img2.png` alt="").img-fluid
      .col-1.mt-auto.d-none.d-lg-block
        h5.scroll-indicator.text-warning SCROLL 
          span.fas.fa-arrow-down-long
      .col-lg-7.position-relative
        img(src=`${CWD}assets/img/home/img1.png` alt="").img-fluid
        .img-circle.zIndex-1.p-7.rounded-circle
        .img-circle-2.zIndex-1.p-7.rounded-circle
        .position-absolute.start-0.bottom-0.d-md-none
          h5.scroll-indicator.text-warning SCROLL 
            span.fas.fa-arrow-down-long
      img.d-none.d-lg-block.col-2.h-50.mb-auto(src=`${CWD}assets/img/home/img3.png` alt="").img-fluid
    .row.mw-sm.mx-auto.mt-4.d-none.d-md-block
      h5.text-400 There are many variations of passages of Lorem Ipsum available, but the majority 
      p.text-300 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,