mixin Hero 
  +Section.py-0.mt-lg-n8
    .row
      .col-md-9.col-lg-7
        h1.fs-5.fs-md-6.fs-xl-7.position-relative.zIndex-2 Fotogency 
          span.fw-thin.text-300 deals with first class 
          span.text-400 photography  orphan services.

  +Section.pt-0.mb-md-10.mt-md-n6.zIndex--1
    .row
      .col-2.d-none.d-lg-block.mt-auto
        img.h-50(src=`${CWD}assets/img/home/img2.png` alt="").img-fluid
      .col-1.mt-auto.d-none.d-lg-block
        h5.scroll-indicator.text-warning SCROLL 
          span.fas.fa-arrow-down-long
      .col-lg-7.position-relative
        img(src=`${CWD}assets/img/home/img1.png` alt="").img-fluid
        .position-absolute.bottom-n100.col-9.mt-6.d-none.d-md-block
          p.fs-2.lh-1.text-400 There are many variations of passages of Lorem Ipsum available, but the majority 
          p.text-300 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
        .img-circle.p-7.rounded-circle
        .img-circle-2.p-7.rounded-circle
        .position-absolute.start-0.bottom-0.d-md-none
          h5.scroll-indicator.text-warning SCROLL 
            span.fas.fa-arrow-down-long
      .col-2.d-none.d-lg-block.mb-auto
        img.h-50(src=`${CWD}assets/img/home/img3.png` alt="").img-fluid
    